.userPhoto {
    width: 50px;
    border-radius: 25px;
}

.user {
    background-color: azure;
    border-radius: 15px;
    margin: 10px;
    padding:10px;
    width: 150px;
}

h1 {
    text-align: center;
    color: rgb(16, 102, 51)
}

.selectedPage {
    font-weight: 700;
    color: red;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
}